[Unit]
Description=Archipel Central Agent
Requires=libvirtd.service
After=libvirtd.service

[Service]
Type=forking
ExecStart=/usr/bin/runcentralagent --config=/etc/archipel/archipel-central-agent.conf --pid-file /run/archipel-central-agent.pid
PIDFile=/run/archipel-central-agent.pid
Restart=Always

[Install]
WantedBy=multi-user.target
